<div class='row'>
  <div class="col-sm-6 col-md-3">
    <a ui-sref='abandoned' class="home-button button1">
      REPORT ABANDONED BIKE
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a ui-sref='broken' class="home-button button2">
      REPORT <br /> BROKEN BIKE
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a ui-sref='check-in' class="home-button button3">
      CHECK-IN OR CHECK-OUT
    </a>
  </div>
  <div class="col-sm-6 col-md-3">
    <a ui-sref='adopt-rack' class="home-button button4">
      ADOPT A RACK
    </a>
  </div>
</div>
<p>&nbsp;</p>
<div class="text-center">
  <p>
    <b><a href="http://www.willmar.k12.mn.us/Domain/780">WHAT YOU NEED TO KNOW</a><br />
    -----------<br />
    Yellow bikes are free to use<br />
    Pleaes be courteous and return the bikes nightly so others may use them too!
  </p>
</div>
<p>&nbsp;</p>
<div class='row'>
  <div class='col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2'>
    <a href='http://www.willmar.k12.mn.us/Domain/780'><%=image_tag 'what_is_graphic.jpg', class: 'img-responsive' %></a>
  </div>
</div>
<p>&nbsp;</p>
