<div class='row'>
  <div class="col-sm-4">
    <a ui-sref='abandoned' class="home-button button1">
      REPORT ABANDONED BIKE
    </a>
  </div>
  <div class="col-sm-4">
    <a ui-sref='broken' class="home-button button2">
      REPORT <br /> BROKEN BIKE
    </a>
  </div>
  <div class="col-sm-4">
    <a ui-sref='checkin' class="home-button button3">
      CHECK-IN OR CHECK-OUT
    </a>
  </div>
</div>
