<h1>Adopt a bike rack</h1>

<p>Help us keep track of where the bikes are by reporting the number of bikes in a rack.</p>

<form>
  <h2>Choose a rack</h2>
  <div ng-if='vm.isLoading.location'>Getting your location...</div>

  <div ng-if='!vm.isLoading.location'>

    <div class="form-group" style="margin-top: 10px;">
      <md-input-container>
        <label>Please choose a rack</label>
        <md-select ng-model="vm.form.bike_rack_id">
          <md-option ng-repeat="rack in vm.bikeRacks" value="{{rack.id}}">{{rack.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>


  </div>

  <h2>How many bikes are in the rack?</h2>

  <div class="form-group">
    <md-input-container>
      <label>Choose a number</label>
      <md-select ng-model="vm.form.bike_count">
        <md-option ng-repeat="number in vm.numbers" value="{{number}}">{{number}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div ng-if='vm.errorMessage' class="alert alert-danger">
    {{ vm.errorMessage }}
  </div>
  <div><wyb-button submitting='vm.isLoading.submit' ng-click="vm.submit();">Submit</wyb-button></div>

  <p>&nbsp;</p>
  <hr />
  <p>When you adopt a Yellow Bike Rack, you are agreeing to report the number bikes available at that rack each day or as often as possible.  Choose one near where you work or live and report in with the app whenever you go by.</p>
  <p>Many brightly colored yellow bikes and yellow bike racks are placed around Willmar at convenient locations that people visit daily. The bikes will remain unlocked, to be used during daylight hours, at no cost to the user. Our hope is that these bikes will be respected and well taken care so this service can stick around for many years to come. We want everyone to be able to enjoy a free ride!</p>
  <p>The challenge is that as people ride them around the bikes distribution around town changes with some racks having too many and others too few.  Help us by adopting a rack and reporting how many bikes are there.   In addition to helping distribute the bikes better, interested riders can then see the last time there was a report and if there is a bike available.</p>


</form>






