<h1>Adopt a bike rack</h1>

<p>Help us keep track of where the bikes are by reporting the number of bikes in a rack.</p>

<form>
  <h2>Choose a rack</h2>
  <div ng-if='vm.isLoading.location'>Getting your location...</div>

  <div ng-if='!vm.isLoading.location'>

    <div class="form-group" style="margin-top: 10px;">
      <md-input-container>
        <label>Please choose a rack</label>
        <md-select ng-model="vm.form.bike_rack_id">
          <md-option ng-repeat="rack in vm.bikeRacks" value="{{rack.id}}">{{rack.name}}</md-option>
        </md-select>
      </md-input-container>
    </div>


  </div>

  <h2>Please select the number of bikes</h2>

  <div class="form-group">
    <md-input-container>
      <label>Choose a number</label>
      <md-select ng-model="vm.form.bike_count">
        <md-option ng-repeat="number in vm.numbers" value="{{number}}">{{number}}</md-option>
      </md-select>
    </md-input-container>
  </div>

  <div ng-if='vm.errorMessage' class="alert alert-danger">
    {{ vm.errorMessage }}
  </div>
  <div><wyb-button submitting='vm.isLoading.submit' ng-click="vm.submit();">Submit</wyb-button></div>

  <hr />
  <p>One challenge facing the Yellow Bike program is that the bike distribution continually changes, with some racks having too many bikes and others too few. </p>
  <p>When you adopt a Yellow Bike Rack, you agree to report the number bikes available at that rack each day or as often as possible. Choose one near where you work or live and report in with the app whenever you go by. </p>
  <p>In addition to helping distribute the bikes better, riders can then see the last time there was a report and if there is a bike available. </p>
  <p>Not sure if you can do it every day?  Adopt a rack with a partner, or just make a rack report when convenient by going to the site.</p>


</form>






