$grey: #ebebeb;
$dark-grey: #333;
$yellow: #fddc03;

html { background-color: $grey; }
body { background-color: $grey; color: $dark-grey; }
footer {
  background-color: $yellow;

  .footer-box {
    border: dashed 1px #fff; margin: 0 40px; padding: 10px 20px;
    a { color: $dark-grey; font-size: 10px; }
    img { display: block; margin: 0 auto; }
  }

}

.home-button {
  display: block; height: 109px; width: 231px; background-size: cover; background-position: center center;
  padding: 46px 10px 10px 80px; color: $dark-grey; text-align: center; margin: 10px auto 0;

  &.button1 { background-image: image-url('button1.png') }
  &.button2 { background-image: image-url('button2.png') }
  &.button3 { background-image: image-url('button3.png') }
  &:hover { text-decoration: none; }
}




@media (max-width: 767px) {
  header{
    height: 100px; overflow: hidden;
  }
}
